extends layout

block content
  div
    textarea.input(placeholder="Put some shit here")
  div
    button.go Go!
  div.output
    span.prompt
    span.completion
  div
    button.more More!
  div.error
