extends layout

block content
  div
    textarea.input(placeholder="Type prompt or leave blank")
  div
    button.go Go!
    span.label length
    input.length-slider(type="range" step="1" min="1" value="10" max="100")
    span.length.display
    span.label topP
    input.top-p-slider(type="range" step="1" min="0" value="50" max="100")
    span.top-p.display
    span.label temperature
    input.temperature-slider(type="range" step="1" min="0" value="90" max="100")
    span.temperature.display
    a.docs(href="https://inferkit.com/docs/generation-api") docs
  div.output
    span.prompt
    span.completion
  div
    button.more More!
  div.error
