* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  border: none;
  margin: 0;
}

html {
  font: 16px 'Roboto', sans-serif;
}

body {
  font-size: 0;
  margin: 1rem;
}

textarea,
button {
  font-family: inherit;
}

.input {
  font-size: 1rem;
  width: 100%;
  height: 6rem;
}

.label {
  font-size: 1rem;
  margin-left: 1rem;
}

.display {
  font-size: 1rem;
  margin-right: 1rem;
}

.docs {
  font-size: 1rem;
}

.go {
  font-size: 1rem;
}

.output {
  font-size: 1rem;
  white-space: pre-wrap;
  margin: 1rem 0;
}

.output .prompt {
  font-weight: bold;
}

.more {
  font-size: 1rem;
}

.more:not(.visible) {
  display: none;
}

.error {
  font-size: 1rem;
  color: red;
}
